@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: "Rubik", sans-serif;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.843),
      rgba(255, 255, 255, 0.843)
    ),
    url("assets/images/background.png");
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  background-color: rgb(248, 76, 76);
  z-index: 10;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  text-decoration: none;
  align-items: center;
  font-size: 18px;
  height: 100%;
}

.nav-links a.active {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 10px;
}

.nav-links a {
  padding: 10px;
}

.nav-links a:hover {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: rgb(232, 55, 55);
}

.logo {
  font-size: 28px;
  font-weight: 800;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.about {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.843),
      rgba(255, 255, 255, 0.843)
    ),
    url("assets/images/background.png");
  top: 50px;
  height: 100%;
}

.about-description {
  margin: 50px;
  font-size: 24px;
}

.about-title {
  margin-top: 50px;
  font-size: 50px;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  height: 100vh;
  width: 100vw;
}

.image-container {
  height: 200px;
  width: 200px;
}

.hide {
  display: none;
}

.pokeball-load {
  height: 200px;
  z-index: 1000;
  width: 200px;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.uppermost {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: column;
}

.second-uppermost {
  position: absolute;
  top: 80px;
}

.pokedex {
  position: absolute;
  top: 180px;
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 18rem);
  gap: 20px;
  margin-bottom: 50px;
}

.search-field {
  z-index: 1000;
  position: absolute;
  display: flex;
  top: 100px;
  gap: 10px;
  height: 40px;
  flex-direction: row;
}

.filters {
  height: 100%;
  width: 100px;
  font-size: 20px;
  text-align: center;
  background-color: rgb(97, 166, 255);
  color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
}

.input-form {
  width: 100%;
  height: 100%;
}

.input-field {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 20px;
}

.search-field select {
  height: 100%;
  width: 100px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 400px;
  padding: 3px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding-bottom: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.load-btn {
  background-color: rgb(97, 166, 255);
  color: whitesmoke;
  font-size: 24px;
  width: 200px;
  height: fit-content;
  padding: 10px;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  z-index: 100;
}

.load-btn:hover {
  background-color: rgb(84, 146, 226);
}

.card:hover {
  scale: 1.05;
}

.sprite {
  width: 100%;
  background-color: rgb(218, 218, 218);
  border-radius: 8px;
}

.title {
  font-size: 30px;
}

.types {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 12px;
}

.grass {
  display: flex;
  text-align: center;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(112, 189, 112);
  color: black;
}
.poison {
  display: flex;
  text-align: center;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: purple;
  color: white;
}
.fire {
  display: flex;
  text-align: center;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: orangered;
  color: white;
}
.water {
  display: flex;
  text-align: center;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(0, 137, 249);
  color: white;
}
.flying {
  display: flex;
  text-align: center;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-image: linear-gradient(180deg, #00d4ff 0%, #c2c2c2 100%);
  color: white;
}
.bug {
  display: flex;
  text-align: center;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(33, 116, 44);
  color: white;
}
.normal {
  display: flex;
  text-align: center;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(105, 105, 105);
  color: white;
}
.electric {
  display: flex;
  text-align: center;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(245, 254, 6);
  color: black;
}
.ground {
  display: flex;
  text-align: center;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-image: linear-gradient(180deg, #d2d904 0%, #876c00 100%);
  color: black;
}
.fairy {
  display: flex;
  text-align: center;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(214, 169, 215);
  color: black;
}
.fighting {
  display: flex;
  text-align: center;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(216, 58, 22);
  color: white;
}
.psychic {
  display: flex;
  text-align: center;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(222, 108, 214);
  color: white;
}
.rock {
  display: flex;
  text-align: center;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(130, 104, 26);
  color: white;
}
.steel {
  display: flex;
  text-align: center;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(145, 145, 145);
  color: black;
}
.ice {
  display: flex;
  text-align: center;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: lightblue;
  color: black;
}
.ghost {
  display: flex;
  text-align: center;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(99, 10, 99);
  color: white;
}
.dragon {
  display: flex;
  text-align: center;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-image: linear-gradient(180deg, #3c78e1 0%, #c76648 100%);
  color: white;
}
.dark {
  display: flex;
  text-align: center;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(50, 50, 50);
  color: white;
}

.pokemon-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.843),
      rgba(255, 255, 255, 0.843)
    ),
    url("assets/images/background.png");
  top: 50px;
  padding-top: 20px;
}

.top-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 28%;
  padding: 10px;
}

.main-info {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
  background-color: whitesmoke;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
}

.main-info .sprite {
  height: 100%;
  width: fit-content;
}

.small-info {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  width: 580px;
}

.pokemon-name {
  position: relative;
  margin: 20px;
  font-size: 50px;
}

.pokemon-id {
  font-size: 40px;
  color: gray;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(97, 166, 255);
  border-radius: 10px;
  padding: 15px;
  height: 100%;
}

.stats ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.stats li {
  font-size: 24px;
  list-style: none;
}

.small-info .types h1 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 24px;
  height: 60px;
  width: 50%;
}

.back-button {
  background-color: rgb(97, 166, 255);
  color: whitesmoke;
  font-size: 24px;
  width: 100px;
  height: fit-content;
  padding: 10px;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.back-button:hover {
  background-color: rgb(84, 146, 226);
}
